.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 100vh;
  padding-top: 80px;
}

.hero-content {
  gap: 1rem;
  margin-top: 2rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text-secondary);
}

.highlight {
  color: var(--accent-color);
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dev-text {
  color: var(--accent-color);
}
.hero-buttons {
  display: flex;
  gap: 1rem;
}

.btn-contact-me {
  border: 2px solid var(--accent-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--accent-color);
}

.hero-image {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-placeholder {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0.8;
  overflow: hidden;
}

.cv-button {
  background-color: var(--accent-color);
  color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }

  .hero-content h2 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

  .hero-content {
    min-width: 400px;
  }

  .hero-buttons {
    gap: 2rem;
  }

  .btn-contact-me {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
  }
  .hero-subtitle {
    font-size: 3.5rem;
    height: 100%;
  }
}
