.about {
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

.about-content {
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.about-text,
.about-details {
  flex: 1;
}
.about-text {
  min-width: 300px;
  max-width: 800px;
  text-align: center;
}

.about-text p {
  margin-bottom: 1rem;
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.detail-item {
  display: flex;
  margin-bottom: 1rem;
}

.detail-title {
  font-weight: 600;
  min-width: 120px;
}

.about-values {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-values,
.section-vision,
.section-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
