.contact-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact-info,
.contact-form {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--bg-secondary);
}

.contact-info h3,
.contact-form h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.contact-info p {
  color: var(--text-secondary);
  margin-bottom: 2rem;
}

.contact-details {
  margin-bottom: 2rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: var(--input-bg);
}

.contact-item-name {
  font-size: 0.9rem;
  color: var(--text-secondary);
  -webkit-background-clip: text;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--text-primary);
}

.social-link:hover {
  background-color: var(--accent-hover);
  color: var(--text-primary);
}

.form-group {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  transition: var(--transition);
  color: var(--text-primary);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.send-button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
  margin-left: auto;
}
.send-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.success-message {
  z-index: 10;
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #c3e6cb;
}
